{% extends "base.html.twig" %}

{% block title %}Chum - Assign Profile To User{% endblock %}

{% block body %}
    {{ include("navigation_bar/manageNav.html.twig") }}

    <div class="modify-my-account-grid">
        <h1>Assign Profile To User</h1>
        <br>
        {{ form_start(form) }}
        <p>User</p>
        {{ form_widget(form.user) }}
        <br><br>
        <p>Profile</p>
        {{ form_widget(form.profile) }}
        <br><br>
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}