{% extends 'base.html.twig' %}
{% block title %} Project Details {% endblock %}

{% block body %}
    {{ include("navigation_bar/manageNav.html.twig") }}

    <h1>Project Details</h1>
    <br>
    <p>Code: {{ project.projectCode }}</p>
    <p>Name: {{ project.projectName }}</p>
    <p>Debut: {{ project.projectDateDebut }}</p>
    <p>End: {{ project.projectDateEnd }}</p>
    <p>Description: {{ project.projectDescription }}</p>
    <br>
    <h1>Managers</h1>
    <ul>
        {% for manager in project.managers %}
            <li>{{ manager.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}